/* 清除浏览器默认样式 */
* {
    padding: 0;
    margin: 0;
    background-color: #68CDD5;
    list-style: none;
}

/* 通过css实现返回按钮 按钮容器 */
/* .btn-return {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1px solid #407D81;
    display: block;
    position: relative;
    margin:22px 0 0 35px ; 
}*/

/* 箭头尖部 */
/* .btn-return:before {
    content: "";
    width: 14px;
    height: 14px;
    border: 2px solid #407D81;
    border-right: none;
    border-top: none;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
 */
/* 箭头尾部*/
/* .btn-return:after {
    content: "";
    width: 20px;
    height: 2px;
    background-color: #407D81;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
} */

/* 返回按钮 */
.btn-return{
    width:54px;
    height:54px;
    /* 通过背景图片显示 */
    background-image: url(/img/3/task3_03.png);
    /* 转换为块元素 */
    display: block;
    margin:22px 0 0 35px;
    /* border:2px solid ; */
}

/* 设置主体部分宽度 */
.main {
    width:455px;
    /* 左右居中 */
    margin:42px auto 0;
    /* border:2px solid; */
}

.main img{
    /* 居中 */
    margin:0 auto 118px;
    display: block;
}

P{
    font-size: 24px;
    color:#fff;
    /* 增加左外边距 */
    padding-left:10px;
    /* border:2px solid; */
}

.bottom-btn{
    margin-top:177px;
    /* border:2px solid; */
}
li{
    float:left;
    /* border: 2px solid; */
}
.btn-l{
    margin: 0 100px 0 90px;
}
.btn-r{
    margin:0 80px 0 0;

}
.left-img{
    display:block;
    width:84px;
    height:84px;
    background-image:url(../img/3/task3_11.png);
    
}
.right-img{
    display:block;
    width:84px;
    height:84px;
    background-image:url(../img/3/task3_14.png);
}

li div{
    font-size:18px;;
    color: #fff;
    /* 图片与文字间距离 */
    margin-top:14px;
    /* border:2px solid; */
}

/* 解决高度塌陷和外边框重叠 */
.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
    clear: both; 
}