/* 清除浏览器默认样式 */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    /* 保险起见设置根字体大小 */
    font-size: 16px;
    /* 1 rem=10 px*/
    font-size: 62.5%;
}

body {
    background-color: #68cdd5;
}

/* 返回键 */
/* .btn-return {
    display: block;
    width: 5.4rem;
    height: 5.4rem;
    margin: 2.1rem 0 0 3.5rem;
    ;
    background: url(../img/3/task3_03.png);

} */

/* 通过css实现返回按钮 按钮容器 */
.btn-return {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1px solid #407D81;
    display: block;
    position: relative;
    margin: 22px 0 0 35px;
}

/* 箭头尖部 */
.btn-return:before {
    content: "";
    width: 14px;
    height: 14px;
    border: 2px solid #407D81;
    border-right: none;
    border-top: none;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* 箭头尾部*/
.btn-return:after {
    content: "";
    width: 20px;
    height: 2px;
    background-color: #407D81;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* 主体部分 */
.main {
    /* border:2px solid; */
    min-width: 26rem;
    max-width: 100rem;
   /* >992px大屏 */
    margin: 0 auto;
}

/* logo部分 */
.logo {
    display: block;
    /* border:2px solid; */
    width: 18.1rem;
    height: 7rem;
    margin: 4rem auto 6rem;
    background-image: url(../img/3/logo.png);
    /* 图片固定大小 */
    background-size: 18.1rem 7rem;
    /* border: 2px solid red; */
}
/* 中等尺寸屏幕 平板 电脑*/
@media(min-width:768px) and (max-width:991px) {
    .main{
        margin:0 8%;
    }
    .logo {
       /* 二倍图 */
        background-image: url(../img/3/logo_@2x.png);
        /* border: 2px solid green; */
    }
}
/* 小尺寸屏幕，手机 */
@media(max-width:767px) {
    .main{
        margin:0 8%;
    }
    .logo {
       /* 三倍图 */
        background-image: url(../img/3/logo_@3x.png);
        /* border: 2px solid blue; */
    }
}

/* 文描部分 */
.content {
    color: #fff;
    font-size: 2.4rem;
    line-height: 4rem;
    margin-bottom: 10rem;
    text-align: justify;
}

/* 下侧两按钮外部容器 */
.bottom-btn a {
    display: block;
    width: 8.4rem;
    height: 8.4rem;
    /* border:2px solid; */
    margin: 0 auto;
}

/* 两按钮共同样式 */
.btn {
    display: inline-block;
    width: 13rem;
    text-align: center;
    /* border:2px solid; */
}

/* 右侧按钮浮动 */
.btn-r {
    float: right;
}

/* 按钮下的文描 */
.btn div {
    font-size: 2rem;
    color: #fff;
    line-height: 5.4rem;
}