* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
    list-style: none;
    border: 0;
    outline: 0;
}

html {
    font-size: 16px;
    font-size: 62.5%;
    min-width: 300px;
}

/* 头部容器 */
header {
    font-size: 1.8rem;
    /* 字体上下居中*/
    line-height: 4.4rem;
    height: 4.4rem;
    background-color: #5fc0cd;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

/* 用css完场返回键 */
header a {
    width: 11px;
    height: 11px;
    border: 2px solid #fff;
    transform: rotate(45deg);
    border-top: none;
    border-right: none;
    border-right: none;
    position: absolute;
    top: 1.6rem;
    left: 1.6rem;
}

header p {
    position: absolute;
    /* 定位页面中间位置 */
    left: 50%;
    /* 左偏移使文本对准页面中心 */
    margin-left: -3.6rem;
}

/* 上部分外部容器 */
.profile_wrap {
    width: 100%;
    background: url(../img/5/bgimg.png);
    background-size: cover;
    height: 16.3rem;
    margin-top: -1px;
}

/* 头像个人信息容器 */
.profile {
    margin: 3.7rem 1.5rem;
}

/* 头像 */
.profile_picture img {
    float: left;
}

/* 个人信息容器 */
.profile_info {
    display: inline-block;
    margin-left: 2rem;
    margin-top: 1rem;
    color: #fff;
}

/* 姓名年龄容器 */
.profile_info_items span {
    font-size: 1.8rem;
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1rem;
    /* 文本上下居中 */
    vertical-align: middle;
}

.profile_info_items span:last-child {
    font-size: 1.4rem;
}

.profile_local {
    font-size: 1.2rem;
}

.profile_local img {
    margin-right: 1rem;
}


footer {
    min-width: 300px;
    width: 100%;
    height: 5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}

footer button {
    width: 43%;
    height: 42px;
    border: 2px solid #5fc0cd;
    border-radius: 8px;
    background-color: #fff;
    color: #5fc0cd;
    font-size: 1.8rem;
}

main {
    position: absolute;
    top: 4.4rem;
    bottom: 5rem;
    left: 0;
    right: 0;
    overflow: auto;
}

.telephone {
    background-color: #5fc0cd;
    color: #fff;
}

/* 下部分外部容器 */
.skills_wrap {
    font-size: 1.6rem;
}

.skills_wrap>div {
    line-height: 5rem;
    border-bottom: 1px solid #e5eced;
}

/* 分割竖线 */
.splitline {
    display: inline-block;
    width: 0.2rem;
    height: 2rem;
    background-color: #e5eced;
    margin: 0 2rem;
}

/* 第一行 */
.skills_header {
    position: relative;
    line-height: 5rem;
    padding-left: 3rem;
}

/* 蓝色竖线 */
.skills_header::before {
    content: '';
    position: absolute;
    width: 0.2rem;
    height: 2rem;
    background-color: #5fc0cd;
    top: 1.3rem;
    left: 1.5rem;
}

/*  2~5行内外左边距*/
.skills_items {
    margin-left: 1.5rem;
    padding-left: 1.5rem;
}

/* 五角星外边距 */
.skills_items img {
    margin-right: 5px;
}

/* 最后一行容器 转换为弹性盒 */
.skills_introduct {
    padding-left: 3rem;
    display: flex;
    /* 竖直居中 */
    align-items: center;
}

/* 左边块 */
.introduction {
    /* 不伸缩 */
    flex-shrink: 0;
}

/*  右边块*/
.info {
    /* 覆盖父元素的line-height值 */
    line-height: 3rem;
}

/* 红色文本样式 */
.redtext {
    color: red;
}

/* 解决高度塌陷和边框重叠问题 */
.clearfix::after,
.clearfix::before {
    content: '';
    display: table;
    clear: both;
}