.box {
    /* 开启左浮动 */
    float: left;
    /* 容器宽度 */
    padding-left: 32%;
    /* 容器高度 */
    padding-top: 32%;
    /* 外边距  */
    margin-left: 1%;
    /* 外边距 */
    margin-top: 1.3%;
    /* 圆角处理 */
    border-radius: 5%;
    /* 九宫格颜色 */
    background-color: rgb(255, 165, 0);
}

button {
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border: 2px solid rgb(255, 165, 0);
    border-radius: 5px;
    background-color: #fff;
    outline: none;
    color: rgb(255, 165, 0);
    cursor: pointer;
}

button:hover {
    background-color: rgb(255, 165, 0);
    color: #fff;
}

button:active {
    opacity: 0.8;
}